/* Stylesheet for Mobile App*/
/*Reset*/

/*
font-family: 'Nova Round', cursive;
font-family: 'VT323', monospace;
*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}

body{
    background-color: black;
    
}

div#container{
    width:1200px;
    height: 800px;
    border:3px dotted red;
    background-color:chocolate;
}
header{
    width:91.75%;
    padding: 50px;
    background-color: antiquewhite;
}
header h1{
    color: #413b3b;
    font-family: 'Nova Round', cursive;
    font-size: 10em;
}
div#content{
    width: 100%;
    background-color: bisque;
    font-size: 2em;
}
nav#nav{
    width: 100%;
    background-color: azure;
    color: red; 
    font-family: 'VT323', monospace;
    font-size: 1.8em;
}
nav ul{
    list-style: none;

}
nav ul li{
    float: left;
    padding: 5px 15px; 
    border-right: 2px solid #1e1e1e;

}
nav ul li a{
color: red;
text-decoration:none;

}
nav ul li a:hover{
 color: gray;
    
}
footer{
    width:100%;
    height: 50px;
    background-color: coral;
}
div.keepOpen{
    clear: both;
}