/* Stylesheet for Mobile App*/
/*Reset*/

/*
font-family: 'Nova Round', cursive;
font-family: 'VT323', monospace;
*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}

body{
    background-color: #29414c;
    
}

div#container{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color:#29414c;
}
header#head{
    display: block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #6f99ac;
}
header img#applogo{
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 100px;
}
header h1{
    text-align: center;
    color: #000000;
    font-family: 'Nova Round', fantasy;
    font-size: 5em;
}

div#content{
    display: block;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    height:100%;
    background-color: #6f99ac;
    font-size: 2em;
}
mark.red{
    color: #8537a7;
    background: none;
}
div#infoDesktop{
   font-size: 1.8em;
    color: #7d7d7d;
}
div#PSusername{
   font-size: 3.8em;
    color: #7d7d7d;
}
div#ClanID{
   font-size: 5em;
    color: #7d7d7d;
}
div#infoPS{
    text-align: center;
    padding-top:100px;
    background-color: #0c333c;
    height: 300px;
}
div#PCusername{
   font-size: 3.8em;
    color: #7d7d7d;
}
div#ClanIDPC{
   font-size: 5em;
    color: #7d7d7d;
}
div#infoPC{
    text-align: center;
    padding-top:100px;
    background-color: #0c333c;
    height: 300px;
}

div#divcanvas{
    width:100%;
    height: 75vh;
    position: relative;
    
}
canvas{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
    
}




div#product_grp {
    max-width: 60%;
    min-width: 20%;
    margin: auto;
}
figure.product{
    display:block;
    float:left;
    margin: 10px 10px;
    min-width: 30%;
    max-width: 45%;
    background-color: #3f677a;
    border-radius: 5%;
}

figure.product img{
    display: block;
    padding: 10px 0;
    width: 80%;
    margin: auto;
}

figure.product figcaption{
    text-align: center;
    color: white;
    font-family: 'Nova Round',fantasy;
    font-size: 24px;
}
div.keepOpen{
    clear: both;
}

/*
nav#nav{
    width: 100%;
    background-color: azure;
    color: red; 
    font-family: 'VT323', monospace;
    font-size: 1.8em;
}
nav ul{
    list-style: none;

}
nav ul li a{
    float: left;
    display: block;
    padding: 5px 15px; 
    border-right: 2px solid #1e1e1e;
    color: red;
    text-decoration:none;

}
nav ul li a:hover{
background-color:#ff4141;
 color: #464646;
    
}
*/
.icon-bar{
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a{
    float: left;
    width: 16.6666%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar a:hover{
    background-color: #608888;
}

/*
div#DccCircle img{
    display: block;
    margin: auto;
      
}
*/
.active{
    background-color: #8537a7;
}
/*
a:active img {
    -webkit-transform: rotate(-60deg);
    -webkit-transition: -webkit-transform 0.5s ease-out;
}


*/
/*
footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: coral;
}
div.keepOpen{
    clear: both;
}
*/

@media screen and (max-width: 600px){
    figure.product{
        float: none;
        margin:10px auto;
        min-width: 50%;
        max-width: 100%;
        background-color: #3f677a;
        border-radius: 5%
       
        
    }
    div#content{
    display: block;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    height:100%;
    background-color: #6f99ac;
    font-size: 1.5em;
    }
    header#head{
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #6f99ac;
}
    header h1{
    text-align: center;
    color: #000000;
    font-family: 'Nova Round', fantasy;
    font-size: 3em;
}
    canvas{
    width: 100%;
    
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
    
}
    figure.product figcaption{
        text-align: center;
        color: white;
        font-family: 'Nova Round',fantasy;
        font-size: 12px;
    }
}

legend, span, input, textarea {
        display: block;
        margin: auto;
        text-align: center;
        font-family: sans-serif;
        color:#8537a7;
}
input[type=submit]{
    display: block;
    margin: auto;
    text-align: center;
    background-color: #797979;
    color: #8537a7;
    text-decoration: none;
    font-size: 1.5em; 
    cursor: pointer;
}





