/* Stylesheet for Mobile App*/
/*Reset*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}

body{
    background-color: black;
    
}

div#container{
    width:1200px;
    height: 800px;
    border:3px dotted red;
    background-color:chocolate;
}
header{
    width:91.75%;
    padding: 50px;
    background-color: antiquewhite;
}
header h1{
    color: #413b3b;
    font-family: "Comic Sans MS",sans-serif;
    font-size: 10em;
}
div#content{
    width: 100%;
    background-color: bisque;
    font-size: 2em;
}
nav#nav{
    width: 100%;
    background-color: azure;
    color: ghostwhite;
    font-family: cursive;
    font-size: 1.5em;
}
footer{
    width:100%;
    height: 50px;
    background-color: coral;
}